.root {
    margin-top: 100px;
    text-align: center;

    span {
        font-size: 60px;
        color: tomato
    }
}

.text {
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 70px;
    color: green;
}